<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Web metadata (hardcoded in; so manual changes are required) -->
    <meta property="og:url" content="http://hawsoo.github.io/Portfolio/templates/blog/blog_post_datalinks/02052016guidetowebstructure.html" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="A Guide to Designing Website Structure" />
    <meta property="og:description" content="The website you are currently viewing is highly automated. Planning it to act as a regular website proves to be a challenge." />
    <meta property="og:image" content="http://images.fineartamerica.com/images-medium-large-5/colorful-sunrise-reflections-art-photo-download-and-wallpaper-screensaver-geoff-childs.jpg" />

    <title>Redirecting...</title>
</head>
<body>
    <!-- jQuery -->
    <script src="../../../js/jquery.js"></script>

    <!-- Redirect to original link -->
    <script src="blog-redirecto-origpost.js"></script>
</body>
</html>
